#draggable {
    position: absolute;
    z-index: 9;
    background-color: 	#0a0a0a;
    background-color: white;
    border: 1px solid #d3d3d3;
    text-align: center;
    /* border-radius: 5%; */
    height: auto;
  }
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    /* background-color: 	#3274dc; */
    background-color: 	#0a0a0a;
    color: #3274dc;
    /* border-radius: 100%; */
  }